beautifulsoup4
bibtexparser
geographiclib
html5lib
inflect
lxml
matplotlib
nameparser
nltk
numpy
Pillow
pyproj
pytz
PyYAML
requests
requests_cache
Shapely
six
SQLAlchemy
titlecase
Unidecode

coverage
pytest
pytest-mock
