beautifulsoup4
bibtexparser
geographiclib
geopandas
gliner
html5lib
inflect
lxml
matplotlib
nameparser
nltk
numpy
Pillow
pyproj
pytz
PyYAML
requests
requests_cache
Shapely
six
SQLAlchemy
titlecase
Unidecode
xmu

coverage
pytest
pytest-mock
