beautifulsoup4
bibtexparser
geographiclib
geopandas
gliner
html5lib
inflect
lxml
matplotlib
nameparser
nltk
numpy
Pillow
pyarrow~=20.0
pyproj
pytz
PyYAML
requests
requests_cache
Shapely
six
SQLAlchemy
titlecase
Unidecode
xmu